<% if @history %>
<div class="changes">
  <h2 id="changes">Αλλαγές <a href="#changes">#</a></h2>

  <p>
    Διατηρούμε αυτές τις σελίδες υπό έλεγχο και ενδέχεται να κάνουμε αλλαγές
    κατά καιρούς για να διασφαλίσουμε ότι παραμένουν ενημερωμένες και ακριβείς.
    Μπορείτε να βρείτε μια σύνοψη των αλλαγών που κάναμε στο
    <%= link_to 'αποθετήριο GitHub', @history.commits_url, alt: "Σύνδεσμος σε
    παλαιότερη εκδοχή για #{site_name} 15 #{@title} (φιλοξενείται στο GitHub)"
    %> αλλά αν έχετε απορίες, <%= link_to 'επικοινωνήστε μαζί μας', 
    help_contact_path %>.
  </p>
</div>
<% end %>
