<% @title = 'Σχετικά με το πλαίσιο Alaveteli.' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <% if params[:country_name] %>
    <h1>
      <%= _('Would you like to see a website like this in your country?') %>
    </h1>
  <% else %>
    <h1><%= @title %></h1>
  <% end %>

  <p>
    Αυτή η πλατφόρμα τροφοδοτείται από το Alaveteli. Το Alaveteli είναι ελεύθερο
    λογισμικό για την υποβολή αιτημάτων πρόσβασης στη δημόσια πληροφορία. Μπορεί
    εύκολα να μεταφραστεί σε οποιαδήποτε γλώσσα και να παραμετροποιηθεί για τις
    διάφορες εθνικές εκδοχές της νομοθεσίας για το δικαίωμα στην πληροφόρηση. Η
    ανάπτυξη του Alaveteli υποστηρίζεται και υποστηρίζεται από έναν σημαντικό
    αριθμό ιδρυμάτων και φιλανθρωπικών οργανώσεων που ενδιαφέρονται για τη
    διαφάνεια και την προώθησή της σε ολόκληρο τον κόσμο.
  </p>

  <p>
    Εάν θέλετε να δημιουργήσετε μια δική σας ιστοσελίδα Alaveteli στη χώρα σας,
    μπορούμε να βοηθήσουμε. Θα χρειαστείτε λίγες μέρες για να αποκτήσετε την
    πλατφόρμα προσαρμοσμένη και έτοιμη προς χρήση, και στη συνέχεια θα πρέπει να
    αφιερώνετε τουλάχιστον μία ώρα την εβδομάδα για την εποπτεία και διαχείριση
    του ιστότοπου (αναλόγως και την επισκεψιμότητα και τον αριθμό των
    αιτημάτων).
  </p>

  <p>
    Διαβάστε περισσότερα στο
    <a href="http://alaveteli.org">http://alaveteli.org</a> ή
    <a href="mailto:hello@alaveteli.org">στείλτε μας e-mail</a>.
  </p>

  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
