<% @title = 'ΚΩΔΙΚΑΣ ΔΕΟΝΤΟΛΟΓΙΑΣ' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">ΚΩΔΙΚΑΣ ΔΕΟΝΤΟΛΟΓΙΑΣ <a href="#introduction">#</a></h1>
  <h2>
    Πώς περιμένουμε από τους/τις χρήστες/ριες να χρησιμοποιούν και να
    συμπεριφέρονται στην πλατφόρμα
  </h2>
  <p>
    Η παραβίαση οποιουδήποτε από τους παρακάτω κανόνες ενδέχεται να οδηγήσει σε
    αναστολή του λογαριασμού σας και δεν θα μπορείτε πλέον να υποβάλετε αιτήματα
    ή ενημερώσεις στο arthro5A.gr.
  </p>
  <p>
    Σε ορισμένες περιπτώσεις, η παραβίαση αυτών των κανόνων θα μπορούσε να
    οδηγήσει σε νομικές ενέργειες εναντίον σας από τις αρχές ή από ένα θιγόμενο
    μέρος.
  </p>
  <p>
    Επιπλέον, οι παραβιάσεις απαιτούν συχνά σημαντικό χρόνο εθελοντισμού και
    διακινδυνεύουν την ικανότητα του mySociety να εκτελεί την υπηρεσία.
  </p>
  <ul>
    <li>
      Χρησιμοποιήστε το arthro5A.gr μόνο για να ζητήσετε συγκεκριμένες
      πληροφορίες, όχι για γενική αλληλογραφία με δημόσιες αρχές και σίγουρα όχι
      για προσωπική αλληλογραφία.
    </li>
    <li>
      Μην συμπεριλάβετε πιθανά δυσφημιστικά σχόλια στα αιτήματα και τους
      σχολιασμούς σας.
    </li>
    <li>
      Μην δημοσιεύετε πληροφορίες που είναι παράνομες, παρενοχλητικές,
      δυσφημιστικές, καταχρηστικές, απειλητικές, επιβλαβείς, άσεμνες,
      μεροληπτικές ή προσβλητικές.
    </li>
    <li>
      Χρησιμοποιήστε το arthro5A.gr μόνο για να ζητήσετε πληροφορίες τις οποίες
      οποιος/αδήποτε θα προσδοκούσε να λάβει ρεαλιστικά. Εάν έχετε συγκεκριμένο
      δικαίωμα ενημέρωσης, για παράδειγμα επειδή αναζητάτε τα προσωπικά σας
      στοιχεία, τότε θα πρέπει να επικοινωνήσετε ιδιωτικά με τον ενδιαφερόμενο
      δημόσιο φορέα για να τα ζητήσετε.
    </li>
    <li>
      Διατηρήστε τα μηνύματα που αποστέλλονται μέσω της υπηρεσίας μας συνοπτικά
      και εστιασμένα στο θέμα του αιτήματός σας. Ακολουθήστε τις συμβουλές μας
      <%= link_to help_requesting_path(anchor: 'responsible') do -%>
        για την υποβολή υπεύθυνων και αποτελεσματικών αιτημάτων
      <% end %>
    </li>
    <li>Μην προσπαθήσετε να υποδυθείτε κάποιο άλλο πρόσωπο (πλαστογράφηση).</li>
    <li>
      Μην χρησιμοποιείτε προσβλητική γλώσσα στα αιτήματά σας και τους
      σχολιασμούς σας.
    </li>
    <li>Με στέλνετε ανεπιθύμητη αλληλογραφία.</li>
    <li>
      Τα αιτήματα πρέπει να υποβάλλονται με μεικτά πεζοκεφαλαία γράμματα, δηλαδή
      όχι όλα με κεφαλαία και όχι όλα με πεζά (αυτό επιβάλλεται αυτόματα από το
      λογισμικό στο οποίο εκτελείται το arthro5A.gr).
    </li>
    <li>
      Μην υποβάλλετε κακόβουλα αιτήματα (αιτήματα χωρίς σοβαρό σκοπό ή που
      αποσκοπούν να διαταράξουν τη λειτουργία ενός δημόσιου φορέα).
    </li>
    <li>
      Μην χρησιμοποιείτε την υπηρεσία μας για να ζητήσετε προσωπικά στοιχεία
      άλλων ατόμων και μην συμπεριλάβετε τέτοιες πληροφορίες σε αιτήματα,
      σχολιασμούς ή follow-up αλληλογραφία, εκτός εάν είναι δέον.
    </li>
    <li>
      Μην προσπαθείτε να αποφύγετε τις ενέργειες των διαχειριστών της πλατφόρμας
      όπως, για παράδειγμα, δημιουργώντας νέους λογαριασμούς για να αποφύγετε
      την απαγόρευση, ή ένα όριο περιορισμού, ή με την αναδημοσίευση υλικού που
      γνωρίζετε ότι έχει αφαιρεθεί από την ομάδα διαχείρισης.
    </li>
  </ul>
  <p>
    Παραβιάζοντας τους παραπάνω κανόνες, υπάρχει κίνδυνος να σάς απαγορευτεί η
    χρήση της πλατφόρμας ή / και να καταργηθούν τα αιτήματα / οι σχολιασμοί σας.
    Σε περιπτώσεις όπου είναι σαφές ότι οι προθέσεις σας δεν είναι κακόβουλες,
    θα επικοινωνήσουμε πρώτα μαζί σας, ώστε να μπορούμε να σας συμβουλέψουμε
    σχετικά με τον καλύτερο τρόπο χρήσης της υπηρεσίας.
  </p>

  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
